<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.ots.activity.model.BActiveCDKey" >
  <resultMap id="BaseResultMap" type="com.mk.ots.activity.model.BActiveCDKey" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="batchno" property="batchno" jdbcType="VARCHAR" />
    <result column="activeid" property="activeid" jdbcType="BIGINT" />
    <result column="channelid" property="channelid" jdbcType="BIGINT" />
    <result column="promotionid" property="promotionid" jdbcType="BIGINT" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="expiration" property="expiration" jdbcType="TIMESTAMP" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="used" property="used" jdbcType="CHAR" />
    <result column="usetime" property="usetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, batchno, activeid, channelid, promotionid, code, expiration, createtime, used, 
    usetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from b_active_cdkey
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from b_active_cdkey
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mk.ots.activity.model.BActiveCDKey" useGeneratedKeys="true" keyProperty="id">
    insert into b_active_cdkey (batchno, activeid, 
      channelid, promotionid, code, 
      expiration, createtime, used, 
      usetime)
    values (#{batchno,jdbcType=VARCHAR}, #{activeid,jdbcType=BIGINT}, 
      #{channelid,jdbcType=BIGINT}, #{promotionid,jdbcType=BIGINT}, #{code,jdbcType=VARCHAR}, 
      #{expiration,jdbcType=TIMESTAMP}, #{createtime,jdbcType=TIMESTAMP}, #{used,jdbcType=CHAR}, 
      #{usetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mk.ots.activity.model.BActiveCDKey" >
    insert into b_active_cdkey
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="batchno != null" >
        batchno,
      </if>
      <if test="activeid != null" >
        activeid,
      </if>
      <if test="channelid != null" >
        channelid,
      </if>
      <if test="promotionid != null" >
        promotionid,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="expiration != null" >
        expiration,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="used != null" >
        used,
      </if>
      <if test="usetime != null" >
        usetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="batchno != null" >
        #{batchno,jdbcType=VARCHAR},
      </if>
      <if test="activeid != null" >
        #{activeid,jdbcType=BIGINT},
      </if>
      <if test="channelid != null" >
        #{channelid,jdbcType=BIGINT},
      </if>
      <if test="promotionid != null" >
        #{promotionid,jdbcType=BIGINT},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="expiration != null" >
        #{expiration,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="used != null" >
        #{used,jdbcType=CHAR},
      </if>
      <if test="usetime != null" >
        #{usetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mk.ots.activity.model.BActiveCDKey" >
    update b_active_cdkey
    <set >
      <if test="batchno != null" >
        batchno = #{batchno,jdbcType=VARCHAR},
      </if>
      <if test="activeid != null" >
        activeid = #{activeid,jdbcType=BIGINT},
      </if>
      <if test="channelid != null" >
        channelid = #{channelid,jdbcType=BIGINT},
      </if>
      <if test="promotionid != null" >
        promotionid = #{promotionid,jdbcType=BIGINT},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="expiration != null" >
        expiration = #{expiration,jdbcType=TIMESTAMP},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="used != null" >
        used = #{used,jdbcType=CHAR},
      </if>
      <if test="usetime != null" >
        usetime = #{usetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mk.ots.activity.model.BActiveCDKey" >
    update b_active_cdkey
    set batchno = #{batchno,jdbcType=VARCHAR},
      activeid = #{activeid,jdbcType=BIGINT},
      channelid = #{channelid,jdbcType=BIGINT},
      promotionid = #{promotionid,jdbcType=BIGINT},
      code = #{code,jdbcType=VARCHAR},
      expiration = #{expiration,jdbcType=TIMESTAMP},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      used = #{used,jdbcType=CHAR},
      usetime = #{usetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="getBActiveCDKey" parameterType="java.util.Map" resultMap="BaseResultMap">
   	select 
    	<include refid="Base_Column_List" />
    from b_active_cdkey
    where code = #{code}
  </select>
  
  <select id="getCDKeyNum" parameterType="java.util.Map"  resultType="long">
  	select 
    	count(id)
    from b_active_cdkey
    where activeid = #{activeid} and channelid = #{channelid} and promotionid = #{promotionid}
  </select>
  
  <select id="getNotUseCDKeyNum" parameterType="java.util.Map"  resultType="long">
  	select 
    	count(id)
    from b_active_cdkey
    where activeid = #{activeid} and channelid = #{channelid} and promotionid = #{promotionid} and (used is null or used = 'F')
  </select>
  
  <select id="getCDKeys"  parameterType="java.util.Map"  resultMap="BaseResultMap">
  	select 
    	<include refid="Base_Column_List" />
    from b_active_cdkey
    where batchno = #{batchno} and channelid = #{channelid} and activeid = #{activeid}
  </select>
  
  <update id="useBActiveCDKey" parameterType="java.util.Map">
  	update b_active_cdkey set used =#{used}, usetime =#{usetime} where code = #{code}
  </update>
  
  <select id="batchGenCode" parameterType="java.util.Map">
  	 insert into b_active_cdkey (batchno, activeid,  channelid, promotionid, code, expiration, createtime, used, usetime)
    		values 
     <foreach collection="itemList" item="item" separator=",">
      	(#{item.batchno,jdbcType=VARCHAR}, #{item.activeid,jdbcType=BIGINT}, 
      	#{item.channelid,jdbcType=BIGINT}, #{item.promotionid,jdbcType=BIGINT}, #{item.code,jdbcType=VARCHAR}, 
      	#{item.expiration,jdbcType=TIMESTAMP}, #{item.createtime,jdbcType=TIMESTAMP}, #{item.used,jdbcType=CHAR}, 
      	#{item.usetime,jdbcType=TIMESTAMP})
     </foreach>
  </select>
  
  <select id="existBatchNo" parameterType="java.util.Map" resultType="long">
  	select count(id) from b_active_cdkey where activeid = #{activeid} and batchno = #{batchno}
  </select>
</mapper>