<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.ots.rule.model.BAreaRuleDetail" >
  <resultMap id="BaseResultMap" type="com.mk.ots.rule.model.BAreaRuleDetail" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="rulekey" property="rulekey" jdbcType="VARCHAR" />
    <result column="rulevalue" property="rulevalue" jdbcType="VARCHAR" />
    <result column="createby" property="createby" jdbcType="INTEGER" />
    <result column="updateby" property="updateby" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="citycode" property="citycode" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, rulekey, rulevalue, createby, updateby, createtime, updatetime, citycode
  </sql>
  <sql id="Base_Column_List2" >
    d.id, d.rulekey, d.rulevalue, d.createby, d.updateby, d.createtime, d.updatetime, d.citycode
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from b_area_rule_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from b_area_rule_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mk.ots.rule.model.BAreaRuleDetail" >
    insert into b_area_rule_detail (id, rulekey, rulevalue, 
      createby, updateby, createtime, 
      updatetime, citycode)
    values (#{id,jdbcType=BIGINT}, #{rulekey,jdbcType=VARCHAR}, #{rulevalue,jdbcType=VARCHAR}, 
      #{createby,jdbcType=INTEGER}, #{updateby,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{citycode})
  </insert>
  <insert id="insertSelective" parameterType="com.mk.ots.rule.model.BAreaRuleDetail" >
    insert into b_area_rule_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="rulekey != null" >
        rulekey,
      </if>
      <if test="rulevalue != null" >
        rulevalue,
      </if>
      <if test="createby != null" >
        createby,
      </if>
      <if test="updateby != null" >
        updateby,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
      <if test="citycode != null" >
        citycode,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="rulekey != null" >
        #{rulekey,jdbcType=VARCHAR},
      </if>
      <if test="rulevalue != null" >
        #{rulevalue,jdbcType=VARCHAR},
      </if>
      <if test="createby != null" >
        #{createby,jdbcType=INTEGER},
      </if>
      <if test="updateby != null" >
        #{updateby,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="citycode != null" >
        #{citycode},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mk.ots.rule.model.BAreaRuleDetail" >
    update b_area_rule_detail
    <set >
      <if test="rulekey != null" >
        rulekey = #{rulekey,jdbcType=VARCHAR},
      </if>
      <if test="rulevalue != null" >
        rulevalue = #{rulevalue,jdbcType=VARCHAR},
      </if>
      <if test="createby != null" >
        createby = #{createby,jdbcType=INTEGER},
      </if>
      <if test="updateby != null" >
        updateby = #{updateby,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mk.ots.rule.model.BAreaRuleDetail" >
    update b_area_rule_detail
    set rulekey = #{rulekey,jdbcType=VARCHAR},
      rulevalue = #{rulevalue,jdbcType=VARCHAR},
      createby = #{createby,jdbcType=INTEGER},
      updateby = #{updateby,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  
  <select id="queryRuleValue" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List2" />
    from b_area_rule_detail d left join b_area_rule_detail_relation r on d.id = r.detailid 
    where r.rulecode = #{rulecode,jdbcType=BIGINT} and d.rulekey=#{rulekey} and d.citycode=#{citycode}
  </select>
  
  
  
</mapper>