<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.ots.log.model.BLogOrder" >
  <resultMap id="BaseResultMap" type="com.mk.ots.log.model.BLogOrder" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="logtime" property="logtime" jdbcType="TIMESTAMP" />
    <result column="orderid" property="orderid" jdbcType="BIGINT" />
    <result column="oldstatus" property="oldstatus" jdbcType="VARCHAR" />
    <result column="newstatus" property="newstatus" jdbcType="VARCHAR" />
    <result column="note" property="note" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, logtime, orderid, oldstatus, newstatus, note
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from b_log_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from b_log_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mk.ots.log.model.BLogOrder" >
    insert into b_log_order (id, logtime, orderid, 
      oldstatus, newstatus, note
      )
    values (#{id,jdbcType=BIGINT}, #{logtime,jdbcType=TIMESTAMP}, #{orderid,jdbcType=BIGINT}, 
      #{oldstatus,jdbcType=VARCHAR}, #{newstatus,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mk.ots.log.model.BLogOrder" >
    insert into b_log_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="logtime != null" >
        logtime,
      </if>
      <if test="orderid != null" >
        orderid,
      </if>
      <if test="oldstatus != null" >
        oldstatus,
      </if>
      <if test="newstatus != null" >
        newstatus,
      </if>
      <if test="note != null" >
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="logtime != null" >
        #{logtime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderid != null" >
        #{orderid,jdbcType=BIGINT},
      </if>
      <if test="oldstatus != null" >
        #{oldstatus,jdbcType=VARCHAR},
      </if>
      <if test="newstatus != null" >
        #{newstatus,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        #{note,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mk.ots.log.model.BLogOrder" >
    update b_log_order
    <set >
      <if test="logtime != null" >
        logtime = #{logtime,jdbcType=TIMESTAMP},
      </if>
      <if test="orderid != null" >
        orderid = #{orderid,jdbcType=BIGINT},
      </if>
      <if test="oldstatus != null" >
        oldstatus = #{oldstatus,jdbcType=VARCHAR},
      </if>
      <if test="newstatus != null" >
        newstatus = #{newstatus,jdbcType=VARCHAR},
      </if>
      <if test="note != null" >
        note = #{note,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mk.ots.log.model.BLogOrder" >
    update b_log_order
    set logtime = #{logtime,jdbcType=TIMESTAMP},
      orderid = #{orderid,jdbcType=BIGINT},
      oldstatus = #{oldstatus,jdbcType=VARCHAR},
      newstatus = #{newstatus,jdbcType=VARCHAR},
      note = #{note,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>