<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.ots.order.model.BOtaorder" >
  <resultMap id="BaseResultMap" type="com.mk.ots.order.model.BOtaorder" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="HotelId" property="hotelid" jdbcType="BIGINT" />
    <result column="Hotelname" property="hotelname" jdbcType="VARCHAR" />
    <result column="Hotelpms" property="hotelpms" jdbcType="VARCHAR" />
    <result column="Ordermethod" property="ordermethod" jdbcType="INTEGER" />
    <result column="Ordertype" property="ordertype" jdbcType="INTEGER" />
    <result column="Pricetype" property="pricetype" jdbcType="INTEGER" />
    <result column="Begintime" property="begintime" jdbcType="TIMESTAMP" />
    <result column="Endtime" property="endtime" jdbcType="TIMESTAMP" />
    <result column="Mid" property="mid" jdbcType="BIGINT" />
    <result column="MLevel" property="mlevel" jdbcType="BIGINT" />
    <result column="Createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="Promotion" property="promotion" jdbcType="CHAR" />
    <result column="Coupon" property="coupon" jdbcType="CHAR" />
    <result column="TotalPrice" property="totalprice" jdbcType="DECIMAL" />
    <result column="Price" property="price" jdbcType="DECIMAL" />
    <result column="BreakfastNum" property="breakfastnum" jdbcType="INTEGER" />
    <result column="Contacts" property="contacts" jdbcType="VARCHAR" />
    <result column="ContactsPhone" property="contactsphone" jdbcType="VARCHAR" />
    <result column="ContactsEmail" property="contactsemail" jdbcType="VARCHAR" />
    <result column="ContactsWeixin" property="contactsweixin" jdbcType="VARCHAR" />
    <result column="OrderStatus" property="orderstatus" jdbcType="INTEGER" />
    <result column="Paystatus" property="paystatus" jdbcType="INTEGER" />
    <result column="Receipt" property="receipt" jdbcType="CHAR" />
    <result column="Updatetime" property="updatetime" jdbcType="TIMESTAMP" />
    <result column="canshow" property="canshow" jdbcType="CHAR" />
    <result column="hiddenOrder" property="hiddenorder" jdbcType="CHAR" />
    <result column="ostype" property="ostype" jdbcType="CHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="spreadUser" property="spreaduser" jdbcType="BIGINT" />
    <result column="daynumber" property="daynumber" jdbcType="INTEGER" />
    <result column="isscore" property="isscore" jdbcType="CHAR" />
    <result column="activeid" property="activeid" jdbcType="BIGINT" />
    <result column="Invalidreason" property="invalidreason" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.mk.ots.order.model.BOtaorder" extends="BaseResultMap" >
    <result column="Note" property="note" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="BaseOrder_Column_List" >
    bo.id, bo.HotelId, bo.Hotelname, bo.Hotelpms, bo.Ordermethod, bo.Ordertype, bo.Pricetype, bo.Begintime, bo.Endtime, 
    bo.Mid, bo.MLevel, bo.Createtime, bo.Promotion, bo.Coupon, bo.TotalPrice, bo.Price, bo.BreakfastNum, bo.Contacts, 
    bo.ContactsPhone, bo.ContactsEmail, bo.ContactsWeixin, bo.OrderStatus, bo.Paystatus, bo.Receipt, bo.Updatetime, 
    bo.canshow, bo.hiddenOrder, bo.ostype, bo.version, bo.spreadUser, bo.daynumber, bo.isscore, bo.activeid, 
    bo.Invalidreason
  </sql>
  <sql id="Base_Column_List" >
    id, HotelId, Hotelname, Hotelpms, Ordermethod, Ordertype, Pricetype, Begintime, Endtime, 
    Mid, MLevel, Createtime, Promotion, Coupon, TotalPrice, Price, BreakfastNum, Contacts, 
    ContactsPhone, ContactsEmail, ContactsWeixin, OrderStatus, Paystatus, Receipt, Updatetime, 
    canshow, hiddenOrder, ostype, version, spreadUser, daynumber, isscore, activeid, 
    Invalidreason
  </sql>
  <sql id="Blob_Column_List" >
    Note
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from b_otaorder
    where id = #{id,jdbcType=BIGINT}
  </select>
    <select id="selectByMidAndHotelId" resultMap="ResultMapWithBLOBs" parameterType="map" >
    select 
    <include refid="Base_Column_List" />
    from b_otaorder
    where Mid = #{mid,jdbcType=BIGINT} and HotelId = #{hotelid,jdbcType=BIGINT}
    and orderstatus  >=160  and orderstatus   <![CDATA[ <=  ]]>  200
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from b_otaorder
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mk.ots.order.model.BOtaorder" >
    insert into b_otaorder (id, HotelId, Hotelname, 
      Hotelpms, Ordermethod, Ordertype, 
      Pricetype, Begintime, Endtime, 
      Mid, MLevel, Createtime, 
      Promotion, Coupon, TotalPrice, 
      Price, BreakfastNum, Contacts, 
      ContactsPhone, ContactsEmail, ContactsWeixin, 
      OrderStatus, Paystatus, Receipt, 
      Updatetime, canshow, hiddenOrder, 
      ostype, version, spreadUser, 
      daynumber, isscore, activeid, 
      Invalidreason, Note)
    values (#{id,jdbcType=BIGINT}, #{hotelid,jdbcType=BIGINT}, #{hotelname,jdbcType=VARCHAR}, 
      #{hotelpms,jdbcType=VARCHAR}, #{ordermethod,jdbcType=INTEGER}, #{ordertype,jdbcType=INTEGER}, 
      #{pricetype,jdbcType=INTEGER}, #{begintime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, 
      #{mid,jdbcType=BIGINT}, #{mlevel,jdbcType=BIGINT}, #{createtime,jdbcType=TIMESTAMP}, 
      #{promotion,jdbcType=CHAR}, #{coupon,jdbcType=CHAR}, #{totalprice,jdbcType=DECIMAL}, 
      #{price,jdbcType=DECIMAL}, #{breakfastnum,jdbcType=INTEGER}, #{contacts,jdbcType=VARCHAR}, 
      #{contactsphone,jdbcType=VARCHAR}, #{contactsemail,jdbcType=VARCHAR}, #{contactsweixin,jdbcType=VARCHAR}, 
      #{orderstatus,jdbcType=INTEGER}, #{paystatus,jdbcType=INTEGER}, #{receipt,jdbcType=CHAR}, 
      #{updatetime,jdbcType=TIMESTAMP}, #{canshow,jdbcType=CHAR}, #{hiddenorder,jdbcType=CHAR}, 
      #{ostype,jdbcType=CHAR}, #{version,jdbcType=INTEGER}, #{spreaduser,jdbcType=BIGINT}, 
      #{daynumber,jdbcType=INTEGER}, #{isscore,jdbcType=CHAR}, #{activeid,jdbcType=BIGINT}, 
      #{invalidreason,jdbcType=INTEGER}, #{note,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mk.ots.order.model.BOtaorder" >
    insert into b_otaorder
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="hotelid != null" >
        HotelId,
      </if>
      <if test="hotelname != null" >
        Hotelname,
      </if>
      <if test="hotelpms != null" >
        Hotelpms,
      </if>
      <if test="ordermethod != null" >
        Ordermethod,
      </if>
      <if test="ordertype != null" >
        Ordertype,
      </if>
      <if test="pricetype != null" >
        Pricetype,
      </if>
      <if test="begintime != null" >
        Begintime,
      </if>
      <if test="endtime != null" >
        Endtime,
      </if>
      <if test="mid != null" >
        Mid,
      </if>
      <if test="mlevel != null" >
        MLevel,
      </if>
      <if test="createtime != null" >
        Createtime,
      </if>
      <if test="promotion != null" >
        Promotion,
      </if>
      <if test="coupon != null" >
        Coupon,
      </if>
      <if test="totalprice != null" >
        TotalPrice,
      </if>
      <if test="price != null" >
        Price,
      </if>
      <if test="breakfastnum != null" >
        BreakfastNum,
      </if>
      <if test="contacts != null" >
        Contacts,
      </if>
      <if test="contactsphone != null" >
        ContactsPhone,
      </if>
      <if test="contactsemail != null" >
        ContactsEmail,
      </if>
      <if test="contactsweixin != null" >
        ContactsWeixin,
      </if>
      <if test="orderstatus != null" >
        OrderStatus,
      </if>
      <if test="paystatus != null" >
        Paystatus,
      </if>
      <if test="receipt != null" >
        Receipt,
      </if>
      <if test="updatetime != null" >
        Updatetime,
      </if>
      <if test="canshow != null" >
        canshow,
      </if>
      <if test="hiddenorder != null" >
        hiddenOrder,
      </if>
      <if test="ostype != null" >
        ostype,
      </if>
      <if test="version != null" >
        version,
      </if>
      <if test="spreaduser != null" >
        spreadUser,
      </if>
      <if test="daynumber != null" >
        daynumber,
      </if>
      <if test="isscore != null" >
        isscore,
      </if>
      <if test="activeid != null" >
        activeid,
      </if>
      <if test="invalidreason != null" >
        Invalidreason,
      </if>
      <if test="note != null" >
        Note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="hotelid != null" >
        #{hotelid,jdbcType=BIGINT},
      </if>
      <if test="hotelname != null" >
        #{hotelname,jdbcType=VARCHAR},
      </if>
      <if test="hotelpms != null" >
        #{hotelpms,jdbcType=VARCHAR},
      </if>
      <if test="ordermethod != null" >
        #{ordermethod,jdbcType=INTEGER},
      </if>
      <if test="ordertype != null" >
        #{ordertype,jdbcType=INTEGER},
      </if>
      <if test="pricetype != null" >
        #{pricetype,jdbcType=INTEGER},
      </if>
      <if test="begintime != null" >
        #{begintime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="mid != null" >
        #{mid,jdbcType=BIGINT},
      </if>
      <if test="mlevel != null" >
        #{mlevel,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="promotion != null" >
        #{promotion,jdbcType=CHAR},
      </if>
      <if test="coupon != null" >
        #{coupon,jdbcType=CHAR},
      </if>
      <if test="totalprice != null" >
        #{totalprice,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="breakfastnum != null" >
        #{breakfastnum,jdbcType=INTEGER},
      </if>
      <if test="contacts != null" >
        #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="contactsphone != null" >
        #{contactsphone,jdbcType=VARCHAR},
      </if>
      <if test="contactsemail != null" >
        #{contactsemail,jdbcType=VARCHAR},
      </if>
      <if test="contactsweixin != null" >
        #{contactsweixin,jdbcType=VARCHAR},
      </if>
      <if test="orderstatus != null" >
        #{orderstatus,jdbcType=INTEGER},
      </if>
      <if test="paystatus != null" >
        #{paystatus,jdbcType=INTEGER},
      </if>
      <if test="receipt != null" >
        #{receipt,jdbcType=CHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="canshow != null" >
        #{canshow,jdbcType=CHAR},
      </if>
      <if test="hiddenorder != null" >
        #{hiddenorder,jdbcType=CHAR},
      </if>
      <if test="ostype != null" >
        #{ostype,jdbcType=CHAR},
      </if>
      <if test="version != null" >
        #{version,jdbcType=INTEGER},
      </if>
      <if test="spreaduser != null" >
        #{spreaduser,jdbcType=BIGINT},
      </if>
      <if test="daynumber != null" >
        #{daynumber,jdbcType=INTEGER},
      </if>
      <if test="isscore != null" >
        #{isscore,jdbcType=CHAR},
      </if>
      <if test="activeid != null" >
        #{activeid,jdbcType=BIGINT},
      </if>
      <if test="invalidreason != null" >
        #{invalidreason,jdbcType=INTEGER},
      </if>
      <if test="note != null" >
        #{note,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mk.ots.order.model.BOtaorder" >
    update b_otaorder
    <set >
      <if test="hotelid != null" >
        HotelId = #{hotelid,jdbcType=BIGINT},
      </if>
      <if test="hotelname != null" >
        Hotelname = #{hotelname,jdbcType=VARCHAR},
      </if>
      <if test="hotelpms != null" >
        Hotelpms = #{hotelpms,jdbcType=VARCHAR},
      </if>
      <if test="ordermethod != null" >
        Ordermethod = #{ordermethod,jdbcType=INTEGER},
      </if>
      <if test="ordertype != null" >
        Ordertype = #{ordertype,jdbcType=INTEGER},
      </if>
      <if test="pricetype != null" >
        Pricetype = #{pricetype,jdbcType=INTEGER},
      </if>
      <if test="begintime != null" >
        Begintime = #{begintime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        Endtime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="mid != null" >
        Mid = #{mid,jdbcType=BIGINT},
      </if>
      <if test="mlevel != null" >
        MLevel = #{mlevel,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        Createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="promotion != null" >
        Promotion = #{promotion,jdbcType=CHAR},
      </if>
      <if test="coupon != null" >
        Coupon = #{coupon,jdbcType=CHAR},
      </if>
      <if test="totalprice != null" >
        TotalPrice = #{totalprice,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        Price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="breakfastnum != null" >
        BreakfastNum = #{breakfastnum,jdbcType=INTEGER},
      </if>
      <if test="contacts != null" >
        Contacts = #{contacts,jdbcType=VARCHAR},
      </if>
      <if test="contactsphone != null" >
        ContactsPhone = #{contactsphone,jdbcType=VARCHAR},
      </if>
      <if test="contactsemail != null" >
        ContactsEmail = #{contactsemail,jdbcType=VARCHAR},
      </if>
      <if test="contactsweixin != null" >
        ContactsWeixin = #{contactsweixin,jdbcType=VARCHAR},
      </if>
      <if test="orderstatus != null" >
        OrderStatus = #{orderstatus,jdbcType=INTEGER},
      </if>
      <if test="paystatus != null" >
        Paystatus = #{paystatus,jdbcType=INTEGER},
      </if>
      <if test="receipt != null" >
        Receipt = #{receipt,jdbcType=CHAR},
      </if>
      <if test="updatetime != null" >
        Updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="canshow != null" >
        canshow = #{canshow,jdbcType=CHAR},
      </if>
      <if test="hiddenorder != null" >
        hiddenOrder = #{hiddenorder,jdbcType=CHAR},
      </if>
      <if test="ostype != null" >
        ostype = #{ostype,jdbcType=CHAR},
      </if>
      <if test="version != null" >
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="spreaduser != null" >
        spreadUser = #{spreaduser,jdbcType=BIGINT},
      </if>
      <if test="daynumber != null" >
        daynumber = #{daynumber,jdbcType=INTEGER},
      </if>
      <if test="isscore != null" >
        isscore = #{isscore,jdbcType=CHAR},
      </if>
      <if test="activeid != null" >
        activeid = #{activeid,jdbcType=BIGINT},
      </if>
      <if test="invalidreason != null" >
        Invalidreason = #{invalidreason,jdbcType=INTEGER},
      </if>
      <if test="note != null" >
        Note = #{note,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.mk.ots.order.model.BOtaorder" >
    update b_otaorder
    set HotelId = #{hotelid,jdbcType=BIGINT},
      Hotelname = #{hotelname,jdbcType=VARCHAR},
      Hotelpms = #{hotelpms,jdbcType=VARCHAR},
      Ordermethod = #{ordermethod,jdbcType=INTEGER},
      Ordertype = #{ordertype,jdbcType=INTEGER},
      Pricetype = #{pricetype,jdbcType=INTEGER},
      Begintime = #{begintime,jdbcType=TIMESTAMP},
      Endtime = #{endtime,jdbcType=TIMESTAMP},
      Mid = #{mid,jdbcType=BIGINT},
      MLevel = #{mlevel,jdbcType=BIGINT},
      Createtime = #{createtime,jdbcType=TIMESTAMP},
      Promotion = #{promotion,jdbcType=CHAR},
      Coupon = #{coupon,jdbcType=CHAR},
      TotalPrice = #{totalprice,jdbcType=DECIMAL},
      Price = #{price,jdbcType=DECIMAL},
      BreakfastNum = #{breakfastnum,jdbcType=INTEGER},
      Contacts = #{contacts,jdbcType=VARCHAR},
      ContactsPhone = #{contactsphone,jdbcType=VARCHAR},
      ContactsEmail = #{contactsemail,jdbcType=VARCHAR},
      ContactsWeixin = #{contactsweixin,jdbcType=VARCHAR},
      OrderStatus = #{orderstatus,jdbcType=INTEGER},
      Paystatus = #{paystatus,jdbcType=INTEGER},
      Receipt = #{receipt,jdbcType=CHAR},
      Updatetime = #{updatetime,jdbcType=TIMESTAMP},
      canshow = #{canshow,jdbcType=CHAR},
      hiddenOrder = #{hiddenorder,jdbcType=CHAR},
      ostype = #{ostype,jdbcType=CHAR},
      version = #{version,jdbcType=INTEGER},
      spreadUser = #{spreaduser,jdbcType=BIGINT},
      daynumber = #{daynumber,jdbcType=INTEGER},
      isscore = #{isscore,jdbcType=CHAR},
      activeid = #{activeid,jdbcType=BIGINT},
      Invalidreason = #{invalidreason,jdbcType=INTEGER},
      Note = #{note,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mk.ots.order.model.BOtaorder" >
    update b_otaorder
    set HotelId = #{hotelid,jdbcType=BIGINT},
      Hotelname = #{hotelname,jdbcType=VARCHAR},
      Hotelpms = #{hotelpms,jdbcType=VARCHAR},
      Ordermethod = #{ordermethod,jdbcType=INTEGER},
      Ordertype = #{ordertype,jdbcType=INTEGER},
      Pricetype = #{pricetype,jdbcType=INTEGER},
      Begintime = #{begintime,jdbcType=TIMESTAMP},
      Endtime = #{endtime,jdbcType=TIMESTAMP},
      Mid = #{mid,jdbcType=BIGINT},
      MLevel = #{mlevel,jdbcType=BIGINT},
      Createtime = #{createtime,jdbcType=TIMESTAMP},
      Promotion = #{promotion,jdbcType=CHAR},
      Coupon = #{coupon,jdbcType=CHAR},
      TotalPrice = #{totalprice,jdbcType=DECIMAL},
      Price = #{price,jdbcType=DECIMAL},
      BreakfastNum = #{breakfastnum,jdbcType=INTEGER},
      Contacts = #{contacts,jdbcType=VARCHAR},
      ContactsPhone = #{contactsphone,jdbcType=VARCHAR},
      ContactsEmail = #{contactsemail,jdbcType=VARCHAR},
      ContactsWeixin = #{contactsweixin,jdbcType=VARCHAR},
      OrderStatus = #{orderstatus,jdbcType=INTEGER},
      Paystatus = #{paystatus,jdbcType=INTEGER},
      Receipt = #{receipt,jdbcType=CHAR},
      Updatetime = #{updatetime,jdbcType=TIMESTAMP},
      canshow = #{canshow,jdbcType=CHAR},
      hiddenOrder = #{hiddenorder,jdbcType=CHAR},
      ostype = #{ostype,jdbcType=CHAR},
      version = #{version,jdbcType=INTEGER},
      spreadUser = #{spreaduser,jdbcType=BIGINT},
      daynumber = #{daynumber,jdbcType=INTEGER},
      isscore = #{isscore,jdbcType=CHAR},
      activeid = #{activeid,jdbcType=BIGINT},
      Invalidreason = #{invalidreason,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  
   <select id="findMaxAndMinOrderId" resultType="java.util.HashMap" parameterType="map" >
	SELECT
		IFNULL(MAX(ut.mid), 0) AS max,
		IFNULL(MIN(ut.mid), 0) AS min
	FROM
		b_otaroomorder bor
	LEFT JOIN b_otaorder bo ON bor.OtaOrderId = bo.id
	LEFT JOIN b_pmsroomorder bp ON bor.PMSRoomOrderNo = bp.PmsRoomOrderNo and bor.hotelid=bp.hotelid
	INNER JOIN u_ticket ut ON bo.id = ut.otaorderid
    where bo.ordertype=#{ordertype} and bo.orderStatus=#{orderstatus} 
        and bp.checkouttime <![CDATA[ <  ]]> #{checkouttime}  
        and ut.activityid=#{activeid}
  </select>
   <select id="findOtaOrderList" resultMap="ResultMapWithBLOBs" parameterType="map" >
    select 
    distinct ut.mid
    FROM
		b_otaroomorder bor
	LEFT JOIN b_otaorder bo ON bor.OtaOrderId = bo.id
	LEFT JOIN b_pmsroomorder bp ON bor.PMSRoomOrderNo = bp.PmsRoomOrderNo and bor.hotelid=bp.hotelid
	INNER JOIN u_ticket ut ON bo.id = ut.otaorderid
    where  ut.mid > #{begin} and
        bo.ordertype=#{ordertype} and bo.orderStatus=#{orderstatus} 
        and bp.checkouttime <![CDATA[ <  ]]> #{checkouttime}  
        and ut.activityid=#{activeid}
        order by  bo.id asc 
        limit  #{limit}
  </select>
  
  
  <select id="findMemberOnlyOneOrderCount" resultType="long" parameterType="com.mk.ots.order.model.BOtaorder" >
	SELECT count(1)
	FROM
			b_otaroomorder bor
		LEFT JOIN b_otaorder bo ON bor.OtaOrderId = bo.id
		LEFT JOIN b_pmsroomorder bp ON bor.PMSRoomOrderNo = bp.PmsRoomOrderNo
		AND bor.hotelid = bp.hotelid
		WHERE   
			bp. STATUS IN ('IN', 'OK', 'PM')
		and bo.mid=#{mid}
  </select>
  <select id="findPromotionMaxAndMinMId" resultType="java.util.HashMap" parameterType="map" >
	SELECT
		IFNULL(MAX(bo.mid), 0) AS max,
		IFNULL(MIN(bo.mid), 0) AS min
	FROM
			b_otaroomorder bor
		LEFT JOIN b_otaorder bo ON bor.OtaOrderId = bo.id
		LEFT JOIN b_pmsroomorder bp ON bor.PMSRoomOrderNo = bp.PmsRoomOrderNo
		AND bor.hotelid = bp.hotelid
		WHERE   
			bp. STATUS IN ('IN', 'OK', 'PM')
		AND bp.checkintime between #{starttime,jdbcType=VARCHAR}  and  #{endtime,jdbcType=VARCHAR}
  </select>
  
   <select id="findPromotionMidList" resultMap="ResultMapWithBLOBs" parameterType="map" >
	  SELECT DISTINCT
			bo.mid
		FROM
			b_otaroomorder bor
		LEFT JOIN b_otaorder bo ON bor.OtaOrderId = bo.id
		LEFT JOIN b_pmsroomorder bp ON bor.PMSRoomOrderNo = bp.PmsRoomOrderNo
		AND bor.hotelid = bp.hotelid
		WHERE  bo.mid > #{begin} and bo.mid <![CDATA[ <=  ]]> ${max} 
		and	bp. STATUS IN ('IN', 'OK', 'PM')
		AND bp.checkintime between #{starttime,jdbcType=VARCHAR}  and  #{endtime,jdbcType=VARCHAR}
		GROUP BY
			bo.mid
		HAVING
			COUNT(bo.id) = 1
		ORDER BY
			bo.mid ASC
		limit  #{limit}	
  </select>
 
  	<!-- 一个手机号一天切客一次: 当天六点到隔日12点后算当日 -->
	<select id="isCheckNumTodayForB" resultType="long" parameterType="java.util.Map">
			select count(distinct id) as checknum from b_otaorder 
					where orderstatus != 510 and orderstatus != 511 and orderstatus != 512 and orderstatus != 513 
						  and mid = #{mid} and spreaduser is not null and invalidreason is null 
						  and rulecode=1002 and createtime between #{startdate} and #{enddate}
	</select>
 
	<!-- 一个手机号每月每店切客4次 -->
	<select id="isCheckNumMonthForB" resultType="long" parameterType="java.util.Map">
			select count(distinct id) as checknum from b_otaorder 
					where orderstatus != 510 and orderstatus != 511 and orderstatus != 512 and orderstatus != 513   
						  and mid = #{mid} and hotelid = #{hotelid} and spreaduser is not null and invalidreason is null 
						  and rulecode=1002 and createtime between #{startdate} and #{enddate}

	</select>	
	<!-- 一个手机号每月切客4次 -->
	<select id="isCheckNumMonthForC" resultType="long" parameterType="java.util.Map">
			select count(distinct id) as checknum from b_otaorder 
					where orderstatus != 510 and orderstatus != 511 and orderstatus != 512 and orderstatus != 513   
						  and mid = #{mid} and spreaduser is not null and invalidreason is null 
						  and rulecode=1002 and createtime between #{startdate} and #{enddate}

	</select>	
	<!-- 判断是否用户首单-->
	<select id="isFirstOrder" resultType="long" parameterType="java.util.Map">
		SELECT COUNT(DISTINCT b.id) FROM b_otaorder b where b.OrderStatus IN (140,160,180,190,200) and   b.orderType = 1  and  b.mid in
		<foreach collection="midList" index="index" item="item" open="(" separator="," close=")">  
        	#{item}  
    	</foreach>  
	</select>	
</mapper>