<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.ots.promo.model.BPromotionProductMapper" >
  <resultMap id="BaseResultMap" type="com.mk.ots.promo.model.BPromotionProduct" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="productid" property="productid" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="promotionid" property="promotionid" jdbcType="BIGINT" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="buytimelimit" property="buytimelimit" jdbcType="INTEGER" />
    <result column="createby" property="createby" jdbcType="VARCHAR" />
    <result column="updateby" property="updateby" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, productid, name, promotionid, price, buytimelimit, createby, updateby, createtime, 
    updatetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from b_promotion_product
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from b_promotion_product
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mk.ots.promo.model.BPromotionProduct" >
    insert into b_promotion_product (id, productid, name, 
      promotionid, price, buytimelimit, 
      createby, updateby, createtime, 
      updatetime)
    values (#{id,jdbcType=BIGINT}, #{productid,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, 
      #{promotionid,jdbcType=BIGINT}, #{price,jdbcType=DECIMAL}, #{buytimelimit,jdbcType=INTEGER}, 
      #{createby,jdbcType=VARCHAR}, #{updateby,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mk.ots.promo.model.BPromotionProduct" >
    insert into b_promotion_product
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="productid != null" >
        productid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="promotionid != null" >
        promotionid,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="buytimelimit != null" >
        buytimelimit,
      </if>
      <if test="createby != null" >
        createby,
      </if>
      <if test="updateby != null" >
        updateby,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="productid != null" >
        #{productid,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="promotionid != null" >
        #{promotionid,jdbcType=BIGINT},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="buytimelimit != null" >
        #{buytimelimit,jdbcType=INTEGER},
      </if>
      <if test="createby != null" >
        #{createby,jdbcType=VARCHAR},
      </if>
      <if test="updateby != null" >
        #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mk.ots.promo.model.BPromotionProduct" >
    update b_promotion_product
    <set >
      <if test="productid != null" >
        productid = #{productid,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="promotionid != null" >
        promotionid = #{promotionid,jdbcType=BIGINT},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="buytimelimit != null" >
        buytimelimit = #{buytimelimit,jdbcType=INTEGER},
      </if>
      <if test="createby != null" >
        createby = #{createby,jdbcType=VARCHAR},
      </if>
      <if test="updateby != null" >
        updateby = #{updateby,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mk.ots.promo.model.BPromotionProduct" >
    update b_promotion_product
    set productid = #{productid,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      promotionid = #{promotionid,jdbcType=BIGINT},
      price = #{price,jdbcType=DECIMAL},
      buytimelimit = #{buytimelimit,jdbcType=INTEGER},
      createby = #{createby,jdbcType=VARCHAR},
      updateby = #{updateby,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="queryBPromotionProduct" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from b_promotion_product
    where productid = #{productid,jdbcType=BIGINT}
  </select>
  
</mapper>