<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.ots.promo.model.BPromotionRule" >
  <resultMap id="BaseResultMap" type="com.mk.ots.promo.model.BPromotionRule" >
    <id column="Id" property="id" jdbcType="VARCHAR" />
    <result column="promotionId" property="promotionid" jdbcType="BIGINT" />
    <result column="ruleCode" property="rulecode" jdbcType="VARCHAR" />
    <result column="ruleFormula" property="ruleformula" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, promotionId, ruleCode, ruleFormula
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from b_promotion_rule
    where Id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from b_promotion_rule
    where Id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.mk.ots.promo.model.BPromotionRule" >
    insert into b_promotion_rule (Id, promotionId, ruleCode, 
      ruleFormula)
    values (#{id,jdbcType=VARCHAR}, #{promotionid,jdbcType=BIGINT}, #{rulecode,jdbcType=VARCHAR}, 
      #{ruleformula,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mk.ots.promo.model.BPromotionRule" >
    insert into b_promotion_rule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="promotionid != null" >
        promotionId,
      </if>
      <if test="rulecode != null" >
        ruleCode,
      </if>
      <if test="ruleformula != null" >
        ruleFormula,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="promotionid != null" >
        #{promotionid,jdbcType=VARCHAR},
      </if>
      <if test="rulecode != null" >
        #{rulecode,jdbcType=VARCHAR},
      </if>
      <if test="ruleformula != null" >
        #{ruleformula,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mk.ots.promo.model.BPromotionRule" >
    update b_promotion_rule
    <set >
      <if test="promotionid != null" >
        promotionId = #{promotionid,jdbcType=BIGINT},
      </if>
      <if test="rulecode != null" >
        ruleCode = #{rulecode,jdbcType=VARCHAR},
      </if>
      <if test="ruleformula != null" >
        ruleFormula = #{ruleformula,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mk.ots.promo.model.BPromotionRule" >
    update b_promotion_rule
    set promotionId = #{promotionid,jdbcType=BIGINT},
      ruleCode = #{rulecode,jdbcType=VARCHAR},
      ruleFormula = #{ruleformula,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  
  
  <select id="findRuleByPromotionId" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select 
    <include refid="Base_Column_List" />
    from b_promotion_rule
    where promotionid = #{promotionid,jdbcType=BIGINT}
  </select>
  
  
</mapper>