<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.ots.order.model.BTicketOrder" >
  <resultMap id="BaseResultMap" type="com.mk.ots.order.model.BTicketOrder" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="mid" property="mid" jdbcType="BIGINT" />
    <result column="productid" property="productid" jdbcType="BIGINT" />
    <result column="paystatus" property="paystatus" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="paytime" property="paytime" jdbcType="TIMESTAMP" />
    <result column="paytype" property="paytype" jdbcType="INTEGER" />
    <result column="paymentid" property="paymentid" jdbcType="VARCHAR" />
    <result column="opuserid" property="opuserid" jdbcType="BIGINT" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, mid, productid, paystatus, price, paytime, paytype, paymentid, opuserid, createtime, 
    updatetime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from b_ticket_order
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from b_ticket_order
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mk.ots.order.model.BTicketOrder" >
    insert into b_ticket_order (id, mid, productid, 
      paystatus, price, paytime, 
      paytype, paymentid, opuserid, 
      createtime, updatetime)
    values (#{id,jdbcType=BIGINT}, #{mid,jdbcType=BIGINT}, #{productid,jdbcType=BIGINT}, 
      #{paystatus,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, #{paytime,jdbcType=TIMESTAMP}, 
      #{paytype,jdbcType=INTEGER}, #{paymentid,jdbcType=VARCHAR}, #{opuserid,jdbcType=BIGINT}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mk.ots.order.model.BTicketOrder" >
    insert into b_ticket_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mid != null" >
        mid,
      </if>
      <if test="productid != null" >
        productid,
      </if>
      <if test="paystatus != null" >
        paystatus,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="paytime != null" >
        paytime,
      </if>
      <if test="paytype != null" >
        paytype,
      </if>
      <if test="paymentid != null" >
        paymentid,
      </if>
      <if test="opuserid != null" >
        opuserid,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="updatetime != null" >
        updatetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="mid != null" >
        #{mid,jdbcType=BIGINT},
      </if>
      <if test="productid != null" >
        #{productid,jdbcType=BIGINT},
      </if>
      <if test="paystatus != null" >
        #{paystatus,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="paytime != null" >
        #{paytime,jdbcType=TIMESTAMP},
      </if>
      <if test="paytype != null" >
        #{paytype,jdbcType=INTEGER},
      </if>
      <if test="paymentid != null" >
        #{paymentid,jdbcType=VARCHAR},
      </if>
      <if test="opuserid != null" >
        #{opuserid,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mk.ots.order.model.BTicketOrder" >
    update b_ticket_order
    <set >
      <if test="mid != null" >
        mid = #{mid,jdbcType=BIGINT},
      </if>
      <if test="productid != null" >
        productid = #{productid,jdbcType=BIGINT},
      </if>
      <if test="paystatus != null" >
        paystatus = #{paystatus,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="paytime != null" >
        paytime = #{paytime,jdbcType=TIMESTAMP},
      </if>
      <if test="paytype != null" >
        paytype = #{paytype,jdbcType=INTEGER},
      </if>
      <if test="paymentid != null" >
        paymentid = #{paymentid,jdbcType=VARCHAR},
      </if>
      <if test="opuserid != null" >
        opuserid = #{opuserid,jdbcType=BIGINT},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updatetime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mk.ots.order.model.BTicketOrder" >
    update b_ticket_order
    set mid = #{mid,jdbcType=BIGINT},
      productid = #{productid,jdbcType=BIGINT},
      paystatus = #{paystatus,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      paytime = #{paytime,jdbcType=TIMESTAMP},
      paytype = #{paytype,jdbcType=INTEGER},
      paymentid = #{paymentid,jdbcType=VARCHAR},
      opuserid = #{opuserid,jdbcType=BIGINT},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      updatetime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="getWaitPay" resultMap="BaseResultMap" parameterType="map" >
    select  *
    from b_ticket_order
    where id = #{id,jdbcType=BIGINT} and  paystatus = #{paystatus,jdbcType=INTEGER}
  </select>
  
</mapper>