<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.ots.mapper.OtaOrderMacMapper" >
  <resultMap id="BaseResultMap" type="com.mk.ots.order.model.OtaOrderMac" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="orderID" property="orderid" jdbcType="BIGINT" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="sysno" property="sysno" jdbcType="VARCHAR" />
    <result column="deviceimei" property="deviceimei" jdbcType="VARCHAR" />
    <result column="simsn" property="simsn" jdbcType="VARCHAR" />
    <result column="wifimacaddr" property="wifimacaddr" jdbcType="VARCHAR" />
    <result column="blmacaddr" property="blmacaddr" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, orderID, uuid, sysno, deviceimei, simsn, wifimacaddr, blmacaddr
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from b_otaorder_mac
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByOrderId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from b_otaorder_mac
    where orderid = #{orderid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from b_otaorder_mac
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert"  parameterType="com.mk.ots.order.model.OtaOrderMac" >
    insert into b_otaorder_mac (id, orderID, uuid, 
      sysno, deviceimei, simsn, 
      wifimacaddr, blmacaddr)
    values (#{id,jdbcType=BIGINT}, #{orderid,jdbcType=BIGINT}, #{uuid,jdbcType=VARCHAR}, 
      #{sysno,jdbcType=VARCHAR}, #{deviceimei,jdbcType=VARCHAR}, #{simsn,jdbcType=VARCHAR}, 
      #{wifimacaddr,jdbcType=VARCHAR}, #{blmacaddr,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.mk.ots.order.model.OtaOrderMac" >
    insert into b_otaorder_mac
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderid != null" >
        orderID,
      </if>
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="sysno != null" >
        sysno,
      </if>
      <if test="deviceimei != null" >
        deviceimei,
      </if>
      <if test="simsn != null" >
        simsn,
      </if>
      <if test="wifimacaddr != null" >
        wifimacaddr,
      </if>
      <if test="blmacaddr != null" >
        blmacaddr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="orderid != null" >
        #{orderid,jdbcType=BIGINT},
      </if>
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="sysno != null" >
        #{sysno,jdbcType=VARCHAR},
      </if>
      <if test="deviceimei != null" >
        #{deviceimei,jdbcType=VARCHAR},
      </if>
      <if test="simsn != null" >
        #{simsn,jdbcType=VARCHAR},
      </if>
      <if test="wifimacaddr != null" >
        #{wifimacaddr,jdbcType=VARCHAR},
      </if>
      <if test="blmacaddr != null" >
        #{blmacaddr,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mk.ots.order.model.OtaOrderMac" >
    update b_otaorder_mac
    <set >
      <if test="orderid != null" >
        orderID = #{orderid,jdbcType=BIGINT},
      </if>
      <if test="uuid != null" >
        uuid = #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="sysno != null" >
        sysno = #{sysno,jdbcType=VARCHAR},
      </if>
      <if test="deviceimei != null" >
        deviceimei = #{deviceimei,jdbcType=VARCHAR},
      </if>
      <if test="simsn != null" >
        simsn = #{simsn,jdbcType=VARCHAR},
      </if>
      <if test="wifimacaddr != null" >
        wifimacaddr = #{wifimacaddr,jdbcType=VARCHAR},
      </if>
      <if test="blmacaddr != null" >
        blmacaddr = #{blmacaddr,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mk.ots.order.model.OtaOrderMac" >
    update b_otaorder_mac
    set orderID = #{orderid,jdbcType=BIGINT},
      uuid = #{uuid,jdbcType=VARCHAR},
      sysno = #{sysno,jdbcType=VARCHAR},
      deviceimei = #{deviceimei,jdbcType=VARCHAR},
      simsn = #{simsn,jdbcType=VARCHAR},
      wifimacaddr = #{wifimacaddr,jdbcType=VARCHAR},
      blmacaddr = #{blmacaddr,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <select id="selectByUuid" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    m.id, m.orderID, m.uuid, m.sysno, m.deviceimei, m.simsn, m.wifimacaddr, m.blmacaddr
    from b_otaorder_mac m left JOIN  b_otaorder o on m.orderId = o.id
    where m.uuid = #{uuid} and o.OrderStatus in
    <foreach item="item" index="index" collection="statusList" open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>

  <select id="selectByDeviceimei" resultMap="BaseResultMap" parameterType="java.util.Map" >
    select
    m.id, m.orderID, m.uuid, m.sysno, m.deviceimei, m.simsn, m.wifimacaddr, m.blmacaddr
    from b_otaorder_mac m left JOIN  b_otaorder o on m.orderId = o.id
    where m.deviceimei = #{deviceimei} and o.OrderStatus in
    <foreach item="item" index="index" collection="statusList" open="(" separator="," close=")">
      #{item}
    </foreach>
  </select>
</mapper>