<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.ots.pay.model.POrderLog" >
  <resultMap id="BaseResultMap" type="com.mk.ots.pay.model.POrderLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="payid" property="payid" jdbcType="BIGINT" />
    <result column="allcost" property="allcost" jdbcType="DECIMAL" />
    <result column="hotelgive" property="hotelgive" jdbcType="DECIMAL" />
    <result column="otagive" property="otagive" jdbcType="DECIMAL" />
    <result column="usercost" property="usercost" jdbcType="DECIMAL" />
    <result column="realcost" property="realcost" jdbcType="DECIMAL" />
    <result column="realotagive" property="realotagive" jdbcType="DECIMAL" />
    <result column="refund" property="refund" jdbcType="CHAR"/>
    <result column="pmssend" property="pmssend" jdbcType="BIGINT" />
    <result column="pmssendtime" property="pmssendtime" jdbcType="TIMESTAMP" />
    <result column="sendreason" property="sendreason" jdbcType="VARCHAR" />
    <result column="pmsrefund" property="pmsrefund" jdbcType="BIGINT" />
    <result column="pmsrefundtime" property="pmsrefundtime" jdbcType="TIMESTAMP" />
    <result column="refundreason" property="refundreason" jdbcType="VARCHAR" />
    <result column="qiekeIncome" property="qiekeIncome" jdbcType="DECIMAL" />
    <result column="accountcost" property="accountcost" jdbcType="DECIMAL" />
    <result column="realaccountcost" property="realaccountcost" jdbcType="DECIMAL" />
    <result column="realallcost" property="realallcost" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, payid, allcost, hotelgive, otagive, usercost, realcost, realotagive,refund,
     pmssend, pmssendtime, sendreason, pmsrefund, pmsrefundtime, refundreason,
     qiekeIncome,accountcost,realaccountcost,realallcost
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from p_orderlog
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from p_orderlog
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mk.ots.pay.model.POrderLog" useGeneratedKeys="true" keyProperty="id">
    insert into p_orderlog ( payid, allcost, 
      hotelgive, otagive, usercost, 
      realcost, realotagive,refund,pmssend,pmssendtime,
       sendreason, pmsrefund, pmsrefundtime, refundreason,
       qiekeIncome,accountcost,realaccountcost,realallcost)
    values ( #{payid,jdbcType=BIGINT}, #{allcost,jdbcType=DECIMAL}, 
      #{hotelgive,jdbcType=DECIMAL}, #{otagive,jdbcType=DECIMAL}, #{usercost,jdbcType=DECIMAL}, 
      #{realcost,jdbcType=DECIMAL}, #{realotagive,jdbcType=DECIMAL},
      #{refund,jdbcType=CHAR},#{pmssend,jdbcType=BIGINT},#{pmssendtime,jdbcType=TIMESTAMP}, 
      #{sendreason,jdbcType=VARCHAR},#{pmsrefund,jdbcType=BIGINT},
      #{pmsrefundtime,jdbcType=TIMESTAMP}, #{refundreason,jdbcType=VARCHAR},
      #{qiekeIncome,jdbcType=DECIMAL},#{accountcost,jdbcType=DECIMAL},#{realaccountcost,jdbcType=DECIMAL},
      #{realallcost,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.mk.ots.pay.model.POrderLog" >
    insert into p_orderlog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="payid != null" >
        payid,
      </if>
      <if test="allcost != null" >
        allcost,
      </if>
      <if test="hotelgive != null" >
        hotelgive,
      </if>
      <if test="otagive != null" >
        otagive,
      </if>
      <if test="usercost != null" >
        usercost,
      </if>
      <if test="realcost != null" >
        realcost,
      </if>
      <if test="realotagive != null" >
        realotagive,
      </if>
      <if test="realotagive != null" >
        refund,
      </if>
       <if test="pmssend != null" >
        pmssend,
      </if>
       <if test="pmssendtime != null" >
        pmssendtime,
      </if>
       <if test="sendreason != null" >
        sendreason,
      </if>
       <if test="pmsrefund != null" >
        pmsrefund,
      </if>
       <if test="pmsrefundtime != null" >
        pmsrefundtime,
      </if>
       <if test="refundreason != null" >
        refundreason,
      </if>
      <if test="qiekeIncome != null" >
        qiekeIncome,
      </if>
      <if test="accountcost != null" >
        accountcost,
      </if>
       <if test="realaccountcost != null" >
        realaccountcost,
      </if>
       <if test="realallcost != null" >
        realallcost,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="payid != null" >
        #{payid,jdbcType=BIGINT},
      </if>
      <if test="allcost != null" >
        #{allcost,jdbcType=DECIMAL},
      </if>
      <if test="hotelgive != null" >
        #{hotelgive,jdbcType=DECIMAL},
      </if>
      <if test="otagive != null" >
        #{otagive,jdbcType=DECIMAL},
      </if>
      <if test="usercost != null" >
        #{usercost,jdbcType=DECIMAL},
      </if>
      <if test="realcost != null" >
        #{realcost,jdbcType=DECIMAL},
      </if>
      <if test="realotagive != null" >
        #{realotagive,jdbcType=DECIMAL},
      </if>
       <if test="refund != null" >
        #{refund,jdbcType=CHAR},
      </if>
      <if test="pmssend != null" >
        #{pmssend,jdbcType=BIGINT},
      </if>
       <if test="pmssendtime != null" >
        #{pmssendtime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendreason != null" >
        #{sendreason,jdbcType=VARCHAR},
      </if>
      <if test="pmsrefund != null" >
        #{pmsrefund,jdbcType=BIGINT},
      </if>
       <if test="pmsrefundtime != null" >
        #{pmsrefundtime,jdbcType=TIMESTAMP},
      </if>
      <if test="refundreason != null" >
        #{refundreason,jdbcType=VARCHAR},
      </if>
      <if test="qiekeIncome != null" >
        #{qiekeIncome,jdbcType=DECIMAL},
      </if>
      <if test="accountcost != null" >
        #{accountcost,jdbcType=DECIMAL},
      </if>
       <if test="realaccountcost != null" >
        #{realaccountcost,jdbcType=DECIMAL},
      </if>
       <if test="realallcost != null" >
        #{realallcost,jdbcType=DECIMAL},
      </if>
    </trim>
    
    
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mk.ots.pay.model.POrderLog" >
    update p_orderlog
    <set >
      <if test="payid != null" >
        payid = #{payid,jdbcType=BIGINT},
      </if>
      <if test="allcost != null" >
        allcost = #{allcost,jdbcType=DECIMAL},
      </if>
      <if test="hotelgive != null" >
        hotelgive = #{hotelgive,jdbcType=DECIMAL},
      </if>
      <if test="otagive != null" >
        otagive = #{otagive,jdbcType=DECIMAL},
      </if>
      <if test="usercost != null" >
        usercost = #{usercost,jdbcType=DECIMAL},
      </if>
      <if test="realcost != null" >
        realcost = #{realcost,jdbcType=DECIMAL},
      </if>
      <if test="realotagive != null" >
        realotagive = #{realotagive,jdbcType=DECIMAL},
      </if>
       <if test="realotagive != null" >
        refund = #{refund,jdbcType=CHAR},
      </if>
      <if test="pmssend != null" >
        pmssend = #{pmssend,jdbcType=BIGINT},
      </if>
      <if test="pmssendtime != null" >
        pmssendtime = #{pmssendtime,jdbcType=TIMESTAMP},
      </if>
       <if test="sendreason != null" >
        sendreason = #{sendreason,jdbcType=VARCHAR},
      </if>
      <if test="pmsrefund != null" >
        pmsrefund = #{pmsrefund,jdbcType=BIGINT},
      </if>
      <if test="pmsrefundtime != null" >
        pmsrefundtime = #{pmsrefundtime,jdbcType=TIMESTAMP},
      </if>
       <if test="refundreason != null" >
        refundreason = #{refundreason,jdbcType=VARCHAR},
      </if>
      <if test="qiekeIncome != null" >
        qiekeIncome = #{qiekeIncome,jdbcType=DECIMAL},
      </if>
      <if test="accountcost != null" >
        accountcost = #{accountcost,jdbcType=DECIMAL},
      </if>
       <if test="realaccountcost != null" >
       realaccountcost =  #{realaccountcost,jdbcType=DECIMAL},
      </if>
       <if test="realallcost != null" >
        realallcost = #{realallcost,jdbcType=DECIMAL},
      </if>
      
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mk.ots.pay.model.POrderLog" >
    update p_orderlog
    set payid = #{payid,jdbcType=BIGINT},
      allcost = #{allcost,jdbcType=DECIMAL},
      hotelgive = #{hotelgive,jdbcType=DECIMAL},
      otagive = #{otagive,jdbcType=DECIMAL},
      usercost = #{usercost,jdbcType=DECIMAL},
      realcost = #{realcost,jdbcType=DECIMAL},
      realotagive = #{realotagive,jdbcType=DECIMAL},
      refund=#{refund,jdbcType=CHAR},
      pmssend=#{pmssend,jdbcType=BIGINT},
      pmssendtime=#{pmssendtime,jdbcType=TIMESTAMP},
      sendreason = #{sendreason,jdbcType=VARCHAR},
      pmsrefund=#{pmsrefund,jdbcType=BIGINT},
      pmsrefundtime=#{pmsrefundtime,jdbcType=TIMESTAMP},
      refundreason = #{refundreason,jdbcType=VARCHAR},
      qiekeIncome = #{qiekeIncome,jdbcType=DECIMAL},
      accountcost = #{accountcost,jdbcType=DECIMAL},
      realaccountcost = #{realaccountcost,jdbcType=DECIMAL},
      realallcost = #{realallcost,jdbcType=DECIMAL}
      
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <update id="updateByPayRefund" parameterType="java.lang.Long" >
    update p_orderlog
     set  refund='T'
    where payid = #{id,jdbcType=BIGINT}
  </update>

  <select id="findPOrderLogByPay" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from p_orderlog
    where payid = #{payid,jdbcType=BIGINT}
  </select>

   <update id="updatePayLogQiekeIncome" parameterType="java.util.Map" >
    update p_orderlog set qiekeIncome=#{qiekeIncome,jdbcType=DECIMAL} 
      where payid=(select id from p_pay where orderid=#{orderid,jdbcType=BIGINT})
  </update>

</mapper>