<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.ots.pay.model.PayCallbackLog">

	<resultMap id="BaseResultMap" type="com.mk.ots.pay.model.PayCallbackLog">
		<id column="id" property="id"/>
		<result column="orderid" property="orderId"/>
		<result column="callbackFrom" property="callbackFrom"/>
		<result column="payResult" property="payResult" />
		<result column="callbackTime" property="callbackTime" jdbcType="TIMESTAMP" />
		<result column="payNo" property="payNo" />
		<result column="price" property="price" jdbcType="DECIMAL" />
		<result column="errorCode" property="errorCode" />
		<result column="errorMsg" property="errorMsg" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id, orderid, callbackFrom, payResult, callbackTime, payNo, price, errorCode, errorMsg
	</sql>

	<insert id="insert" parameterType="com.mk.ots.pay.model.PayCallbackLog" useGeneratedKeys="true" keyProperty="id">
		insert into p_paycallback_log (
			orderid, callbackFrom,
			payResult, callbackTime,
			payNo, price, errorCode, errorMsg
		)
		values (
			#{orderId}, #{callbackFrom},
			#{payResult}, NOW(),
			#{payNo}, #{price}, #{errorCode}, #{errorMsg}
		)
	</insert>

</mapper>