<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.ots.pay.model.PPayTask">

	<resultMap id="BaseResultMap" type="com.mk.ots.pay.model.PPayTask">
		<id column="id" property="id"/>
		<result column="orderid" property="orderId"/>
		<result column="content" property="content"/>
		<result column="status" property="status" jdbcType="INTEGER" />
		<result column="tasktype" property="taskType" jdbcType="INTEGER" />
		<result column="createtime" property="createTime" jdbcType="TIMESTAMP" />
		<result column="executetime" property="executeTime" jdbcType="TIMESTAMP" />
		<result column="updatetime" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>
	
	<sql id="Base_Column_List">
		id, orderid, content, status, tasktype, executetime, createtime, updatetime
	</sql>

	<select id="selectInitTask" resultMap="BaseResultMap" parameterType="java.util.Map">
	<![CDATA[
		select
		id, orderid, content, status, tasktype, executetime, createtime, updatetime
		from p_paytasks
		where status = #{status,jdbcType=INTEGER} and tasktype = #{taskType,jdbcType=INTEGER} and executetime <= NOW()
	]]> 	
	</select>
	
	<select id="exist" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		id, orderid, content, status, tasktype, executetime, createtime, updatetime
		from p_paytasks
		where orderid = #{orderId} and tasktype = #{taskType}
	</select>

	<insert id="insert" parameterType="com.mk.ots.pay.model.PPayTask" useGeneratedKeys="true" keyProperty="id">
		insert into p_paytasks (
			orderid, content,
			status, tasktype,
			createtime, executetime, updatetime
		)
		values (
			#{orderId,jdbcType=BIGINT}, #{content,jdbcType=LONGVARCHAR},
			#{status.code,jdbcType=INTEGER},
			#{taskType.id,jdbcType=INTEGER},
			NOW(), DATE_ADD(NOW(),INTERVAL #{taskType.interval,jdbcType=INTEGER} MINUTE), NOW()
		)
	</insert>

	<update id="updatePayTask" parameterType="java.util.Map">
		update p_paytasks set 
			status = #{status,jdbcType=INTEGER}, updatetime = NOW()
		where id in
		<foreach collection="tasks" item= "task" index ="index" open="(" close =")" separator=",">
			#{task.id,jdbcType=BIGINT}
		</foreach>
	</update>

</mapper>