<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.ots.pay.model.PPayInfo" >
  <resultMap id="BaseResultMap" type="com.mk.ots.pay.model.PPayInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="cost" property="cost" jdbcType="DECIMAL" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="otherno" property="otherno" jdbcType="VARCHAR" />
    <result column="otherType" property="othertype" jdbcType="INTEGER" />
    <result column="otherUser" property="otheruser" jdbcType="VARCHAR" />
    <result column="innerSrcId" property="innersrcid" jdbcType="BIGINT" />
    <result column="innerDestId" property="innerdestid" jdbcType="BIGINT" />
    <result column="enable" property="enable" jdbcType="CHAR"/>
    <result column="pmsSendId" property="pmsSendId" jdbcType="BIGINT"/>
    <result column="realCost" property="realCost" jdbcType="DECIMAL" />
    
    <association property="pay" column="payid" select="findPayById"></association>
  </resultMap>
  <sql id="Base_Column_List" >
    id, payid, time, cost, type, otherno, otherType, otherUser, innerSrcId, innerDestId, 
    enable,pmsSendId,realCost
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from p_payinfo
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from p_payinfo
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByPayId" parameterType="java.lang.Long" >
      delete from p_payinfo
      where payid = #{id,jdbcType=BIGINT}
  </delete>
  
  <insert id="insert" parameterType="com.mk.ots.pay.model.PPayInfo" useGeneratedKeys="true" keyProperty="id" >
    insert into p_payinfo (payid, time, 
      cost, type, otherno, 
      otherType, otherUser, innerSrcId, 
      innerDestId, enable,pmsSendId,realCost)
    values ( #{pay.id,jdbcType=BIGINT}, #{time,jdbcType=TIMESTAMP}, 
      #{cost,jdbcType=DECIMAL}, #{type,jdbcType=INTEGER}, #{otherno,jdbcType=VARCHAR}, 
      #{othertype,jdbcType=INTEGER}, #{otheruser,jdbcType=VARCHAR}, #{innersrcid,jdbcType=BIGINT}, 
      #{innerdestid,jdbcType=BIGINT}, #{enable,jdbcType=CHAR}, #{pmsSendId,jdbcType=BIGINT},#{realCost,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.mk.ots.pay.model.PPayInfo" >
    insert into p_payinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pay != null" >
        payid,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="cost != null" >
        cost,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="otherno != null" >
        otherno,
      </if>
      <if test="othertype != null" >
        otherType,
      </if>
      <if test="otheruser != null" >
        otherUser,
      </if>
      <if test="innersrcid != null" >
        innerSrcId,
      </if>
      <if test="innerdestid != null" >
        innerDestId,
      </if>
      <if test="enable != null" >
        enable,
      </if>
      <if test="pmsSendId != null" >
        pmsSendId,
      </if>
      <if test="realCost != null" >
        realCost,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pay != null" >
        #{pay.id,jdbcType=BIGINT},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="cost != null" >
        #{cost,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="otherno != null" >
        #{otherno,jdbcType=VARCHAR},
      </if>
      <if test="othertype != null" >
        #{othertype,jdbcType=INTEGER},
      </if>
      <if test="otheruser != null" >
        #{otheruser,jdbcType=VARCHAR},
      </if>
      <if test="innersrcid != null" >
        #{innersrcid,jdbcType=BIGINT},
      </if>
      <if test="innerdestid != null" >
        #{innerdestid,jdbcType=BIGINT},
      </if>
      <if test="enable != null" >
        #{enable,jdbcType=CHAR},
      </if>
       <if test="pmsSendId != null" >
        #{pmsSendId,jdbcType=BIGINT},
      </if>
       <if test="realCost != null" >
        #{realCost,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  
  
  <update id="updateByPrimaryKeySelective" parameterType="com.mk.ots.pay.model.PPayInfo" >
    update p_payinfo
    <set >
      <if test="pay != null" >
        payid = #{pay.id,jdbcType=BIGINT},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="cost != null" >
        cost = #{cost,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="otherno != null" >
        otherno = #{otherno,jdbcType=VARCHAR},
      </if>
      <if test="othertype != null" >
        otherType = #{othertype,jdbcType=INTEGER},
      </if>
      <if test="otheruser != null" >
        otherUser = #{otheruser,jdbcType=VARCHAR},
      </if>
      <if test="innersrcid != null" >
        innerSrcId = #{innersrcid,jdbcType=BIGINT},
      </if>
      <if test="innerdestid != null" >
        innerDestId = #{innerdestid,jdbcType=BIGINT},
      </if>
      <if test="enable != null" >
        enable = #{enable,jdbcType=CHAR},
      </if>
      <if test="pmsSendId != null" >
        pmsSendId= #{pmsSendId,jdbcType=BIGINT},
      </if>
       <if test="realCost != null" >
        realCost = #{realCost,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mk.ots.pay.model.PPayInfo" >
    update p_payinfo
    set payid = #{pay.id,jdbcType=BIGINT},
      time = #{time,jdbcType=TIMESTAMP},
      cost = #{cost,jdbcType=DECIMAL},
      type = #{type,jdbcType=INTEGER},
      otherno = #{otherno,jdbcType=VARCHAR},
      otherType = #{othertype,jdbcType=INTEGER},
      otherUser = #{otheruser,jdbcType=VARCHAR},
      innerSrcId = #{innersrcid,jdbcType=BIGINT},
      innerDestId = #{innerdestid,jdbcType=BIGINT},
      enable = #{enable,jdbcType=CHAR},
      pmsSendId = #{pmsSendId,jdbcType=BIGINT},
      realCost = #{realCost,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
	<select id="findPayById" resultMap="com.mk.ots.pay.model.PPay.BaseResultMap">
		select * from p_pay where id = #{id}
	</select>
	
	<select id="findByPayId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
	    select 
	    <include refid="Base_Column_List" />
	    from p_payinfo
	    where payid = #{payid,jdbcType=BIGINT}
  	</select>
  	<select id="findByPayIdAndPayOk" resultMap="BaseResultMap" parameterType="java.util.Map" >
	    select 
	    <include refid="Base_Column_List" />
	    from p_payinfo
	    where payid = #{payid,jdbcType=BIGINT}
	      and type = #{type,jdbcType=INTEGER}
  	</select>
  	<select id="findPayInfoByPayId1" resultMap="BaseResultMap" parameterType="java.util.Map" >
	    select 
	    <include refid="Base_Column_List" />
	    from p_payinfo
	    where payid = #{payid,jdbcType=BIGINT}
  	</select>
  	
  	
  	<select id="getPayOkPayInfo" resultMap="BaseResultMap" parameterType="java.util.Map" >
	    select 
	    <include refid="Base_Column_List" />
	    from p_payinfo
	    where otherno = #{otherno,jdbcType=VARCHAR}
	     and  enable='T'
  	</select>
  	
  	<select id="selectByOrderIdAndPayOk" resultMap="BaseResultMap" parameterType="java.util.Map" >
	 select 
	      b.id as id, b.payid as payid, b.time  as time, b.cost  as cost, b.type as type,  
	      b.otherno  as  otherno, b.otherType  as otherType, b.otherUser  as otherUser, 
	      b.innerSrcId  as innerSrcId, b.innerDestId  as innerDestId, 
          b.enable as enable, b.pmsSendId as pmsSendId, b.realCost  as realCost
	      from p_pay a , p_payinfo b  
	     where   b.type=#{type,jdbcType=INTEGER}  
	      and  a.id=b.payid  
	      and   a.orderid=#{orderid,jdbcType=VARCHAR}
  	</select>
  	
  	<!-- 支付宝退款成功后调用 -->
  <update id="aliPayRefundSuccess"  parameterType="java.util.Map"  >
  	 <if test="payids != null" >
  	  update p_payinfo  set  otherUser=null 
  	  where otherno in (  #{payids,jdbcType=VARCHAR}  ) 
     </if>
  </update>
  	
  		<!-- 更新pms发送乐住币的payinfoId -->
 <update id="updatePmsSendIdByPayidAndType" parameterType="java.util.Map" >
    update p_payinfo  set
          pmsSendId= #{pmsSendId,jdbcType=BIGINT}
    where  payid = #{payid,jdbcType=BIGINT}  
  </update>
  
 <update id="updatePmsSendIdByPPayInfoId" parameterType="java.util.Map" >
    update p_payinfo  set
          pmsSendId= #{pmsSendId,jdbcType=BIGINT}
    where  id = #{id,jdbcType=BIGINT}
  </update>
 
  	
</mapper>