<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.ots.pay.model.PScoreLog" >
  <resultMap id="BaseResultMap" type="com.mk.ots.pay.model.PScoreLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="mid" property="mid" jdbcType="BIGINT" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="otherid" property="otherid" jdbcType="BIGINT" />
    <result column="othertype" property="othertype" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="otherno" property="otherno" jdbcType="VARCHAR" />
    <result column="otherPayType" property="otherpaytype" jdbcType="INTEGER" />
    <result column="otherUser" property="otheruser" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, mid, time, otherid, othertype, price, type, otherno, otherPayType, otherUser
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from p_score_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from p_score_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
   <delete id="deleteByInfoid" parameterType="java.lang.Long" >
    delete from p_score_log
    where otherid = #{id,jdbcType=BIGINT}
  </delete>
  
  <insert id="insert" parameterType="com.mk.ots.pay.model.PScoreLog" useGeneratedKeys="true" keyProperty="id">
    insert into p_score_log (mid, time, 
      otherid, othertype, price, 
      type, otherno, otherPayType, 
      otherUser)
    values ( #{mid,jdbcType=BIGINT}, #{time,jdbcType=TIMESTAMP}, 
      #{otherid,jdbcType=BIGINT}, #{othertype,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, 
      #{type,jdbcType=INTEGER}, #{otherno,jdbcType=VARCHAR}, #{otherpaytype,jdbcType=INTEGER}, 
      #{otheruser,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mk.ots.pay.model.PScoreLog" >
    insert into p_score_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mid != null" >
        mid,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="otherid != null" >
        otherid,
      </if>
      <if test="othertype != null" >
        othertype,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="otherno != null" >
        otherno,
      </if>
      <if test="otherpaytype != null" >
        otherPayType,
      </if>
      <if test="otheruser != null" >
        otherUser,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="mid != null" >
        #{mid,jdbcType=BIGINT},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="otherid != null" >
        #{otherid,jdbcType=BIGINT},
      </if>
      <if test="othertype != null" >
        #{othertype,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="otherno != null" >
        #{otherno,jdbcType=VARCHAR},
      </if>
      <if test="otherpaytype != null" >
        #{otherpaytype,jdbcType=INTEGER},
      </if>
      <if test="otheruser != null" >
        #{otheruser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mk.ots.pay.model.PScoreLog" >
    update p_score_log
    <set >
      <if test="mid != null" >
        mid = #{mid,jdbcType=BIGINT},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="otherid != null" >
        otherid = #{otherid,jdbcType=BIGINT},
      </if>
      <if test="othertype != null" >
        othertype = #{othertype,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="otherno != null" >
        otherno = #{otherno,jdbcType=VARCHAR},
      </if>
      <if test="otherpaytype != null" >
        otherPayType = #{otherpaytype,jdbcType=INTEGER},
      </if>
      <if test="otheruser != null" >
        otherUser = #{otheruser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mk.ots.pay.model.PScoreLog" >
    update p_score_log
    set mid = #{mid,jdbcType=BIGINT},
      time = #{time,jdbcType=TIMESTAMP},
      otherid = #{otherid,jdbcType=BIGINT},
      othertype = #{othertype,jdbcType=INTEGER},
      price = #{price,jdbcType=DECIMAL},
      type = #{type,jdbcType=INTEGER},
      otherno = #{otherno,jdbcType=VARCHAR},
      otherPayType = #{otherpaytype,jdbcType=INTEGER},
      otherUser = #{otheruser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>