<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.ots.mapper.RoomStateLogMapper" >
  <resultMap id="BaseResultMap" type="com.mk.ots.room.bean.RoomStateLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="callmethod" property="callmethod" jdbcType="CHAR" />
    <result column="callversion" property="callversion" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="methodurl" property="methodurl" jdbcType="VARCHAR" />
    <result column="methodparams" property="methodparams" jdbcType="VARCHAR" />
    <result column="optuser" property="optuser" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="other1" property="other1" jdbcType="VARCHAR" />
    <result column="other2" property="other2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, callmethod, callversion, ip, methodurl, methodparams, optuser, createtime, other1, 
    other2
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_interface_roomstate_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_interface_roomstate_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mk.ots.room.bean.RoomStateLog" >
    insert into t_interface_roomstate_log (id, callmethod, callversion, 
      ip, methodurl, methodparams, 
      optuser, createtime, other1, 
      other2)
    values (#{id,jdbcType=BIGINT}, #{callmethod,jdbcType=CHAR}, #{callversion,jdbcType=VARCHAR}, 
      #{ip,jdbcType=VARCHAR}, #{methodurl,jdbcType=VARCHAR}, #{methodparams,jdbcType=VARCHAR}, 
      #{optuser,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{other1,jdbcType=VARCHAR}, 
      #{other2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mk.ots.room.bean.RoomStateLog" >
    insert into t_interface_roomstate_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="callmethod != null" >
        callmethod,
      </if>
      <if test="callversion != null" >
        callversion,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="methodurl != null" >
        methodurl,
      </if>
      <if test="methodparams != null" >
        methodparams,
      </if>
      <if test="optuser != null" >
        optuser,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="other1 != null" >
        other1,
      </if>
      <if test="other2 != null" >
        other2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="callmethod != null" >
        #{callmethod,jdbcType=CHAR},
      </if>
      <if test="callversion != null" >
        #{callversion,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="methodurl != null" >
        #{methodurl,jdbcType=VARCHAR},
      </if>
      <if test="methodparams != null" >
        #{methodparams,jdbcType=VARCHAR},
      </if>
      <if test="optuser != null" >
        #{optuser,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="other1 != null" >
        #{other1,jdbcType=VARCHAR},
      </if>
      <if test="other2 != null" >
        #{other2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mk.ots.room.bean.RoomStateLog" >
    update t_interface_roomstate_log
    <set >
      <if test="callmethod != null" >
        callmethod = #{callmethod,jdbcType=CHAR},
      </if>
      <if test="callversion != null" >
        callversion = #{callversion,jdbcType=VARCHAR},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="methodurl != null" >
        methodurl = #{methodurl,jdbcType=VARCHAR},
      </if>
      <if test="methodparams != null" >
        methodparams = #{methodparams,jdbcType=VARCHAR},
      </if>
      <if test="optuser != null" >
        optuser = #{optuser,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="other1 != null" >
        other1 = #{other1,jdbcType=VARCHAR},
      </if>
      <if test="other2 != null" >
        other2 = #{other2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mk.ots.room.bean.RoomStateLog" >
    update t_interface_roomstate_log
    set callmethod = #{callmethod,jdbcType=CHAR},
      callversion = #{callversion,jdbcType=VARCHAR},
      ip = #{ip,jdbcType=VARCHAR},
      methodurl = #{methodurl,jdbcType=VARCHAR},
      methodparams = #{methodparams,jdbcType=VARCHAR},
      optuser = #{optuser,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      other1 = #{other1,jdbcType=VARCHAR},
      other2 = #{other2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>