<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.ots.mapper.RoomCensusMapper" >
  <resultMap id="BaseResultMap" type="com.mk.ots.room.bean.RoomCensus" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="hotelId" property="hotelid" jdbcType="BIGINT" />
    <result column="hotelName" property="hotelname" jdbcType="VARCHAR" />
    <result column="visible" property="visible" jdbcType="CHAR" />
    <result column="online" property="online" jdbcType="CHAR" />
    <result column="roomCount" property="roomcount" jdbcType="INTEGER" />
    <result column="freeRoomCount" property="freeroomcount" jdbcType="INTEGER" />
    <result column="year" property="year" jdbcType="CHAR" />
    <result column="month" property="month" jdbcType="CHAR" />
    <result column="day" property="day" jdbcType="CHAR" />
    <result column="date" property="date" jdbcType="CHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="other1" property="other1" jdbcType="INTEGER" />
    <result column="other2" property="other2" jdbcType="INTEGER" />
    <result column="other3" property="other3" jdbcType="VARCHAR" />
    <result column="other4" property="other4" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, hotelId, hotelName, visible, online, roomCount, freeRoomCount, year, month, day, 
    date, createTime, other1, other2, other3, other4
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mk.ots.room.bean.RoomCensusExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_room_census
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_room_census
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from t_room_census
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.mk.ots.room.bean.RoomCensusExample" >
    delete from t_room_census
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mk.ots.room.bean.RoomCensus" >
    insert into t_room_census (id, hotelId, hotelName, 
      visible, online, roomCount, 
      freeRoomCount, year, month, 
      day, date, createTime, 
      other1, other2, other3, 
      other4)
    values (#{id,jdbcType=BIGINT}, #{hotelid,jdbcType=BIGINT}, #{hotelname,jdbcType=VARCHAR}, 
      #{visible,jdbcType=CHAR}, #{online,jdbcType=CHAR}, #{roomcount,jdbcType=INTEGER}, 
      #{freeroomcount,jdbcType=INTEGER}, #{year,jdbcType=CHAR}, #{month,jdbcType=CHAR}, 
      #{day,jdbcType=CHAR}, #{date,jdbcType=CHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{other1,jdbcType=INTEGER}, #{other2,jdbcType=INTEGER}, #{other3,jdbcType=VARCHAR}, 
      #{other4,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mk.ots.room.bean.RoomCensus" >
    insert into t_room_census
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="hotelid != null" >
        hotelId,
      </if>
      <if test="hotelname != null" >
        hotelName,
      </if>
      <if test="visible != null" >
        visible,
      </if>
      <if test="online != null" >
        online,
      </if>
      <if test="roomcount != null" >
        roomCount,
      </if>
      <if test="freeroomcount != null" >
        freeRoomCount,
      </if>
      <if test="year != null" >
        year,
      </if>
      <if test="month != null" >
        month,
      </if>
      <if test="day != null" >
        day,
      </if>
      <if test="date != null" >
        date,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="other1 != null" >
        other1,
      </if>
      <if test="other2 != null" >
        other2,
      </if>
      <if test="other3 != null" >
        other3,
      </if>
      <if test="other4 != null" >
        other4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="hotelid != null" >
        #{hotelid,jdbcType=BIGINT},
      </if>
      <if test="hotelname != null" >
        #{hotelname,jdbcType=VARCHAR},
      </if>
      <if test="visible != null" >
        #{visible,jdbcType=CHAR},
      </if>
      <if test="online != null" >
        #{online,jdbcType=CHAR},
      </if>
      <if test="roomcount != null" >
        #{roomcount,jdbcType=INTEGER},
      </if>
      <if test="freeroomcount != null" >
        #{freeroomcount,jdbcType=INTEGER},
      </if>
      <if test="year != null" >
        #{year,jdbcType=CHAR},
      </if>
      <if test="month != null" >
        #{month,jdbcType=CHAR},
      </if>
      <if test="day != null" >
        #{day,jdbcType=CHAR},
      </if>
      <if test="date != null" >
        #{date,jdbcType=CHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="other1 != null" >
        #{other1,jdbcType=INTEGER},
      </if>
      <if test="other2 != null" >
        #{other2,jdbcType=INTEGER},
      </if>
      <if test="other3 != null" >
        #{other3,jdbcType=VARCHAR},
      </if>
      <if test="other4 != null" >
        #{other4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mk.ots.room.bean.RoomCensusExample" resultType="java.lang.Integer" >
    select count(*) from t_room_census
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_room_census
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.hotelid != null" >
        hotelId = #{record.hotelid,jdbcType=BIGINT},
      </if>
      <if test="record.hotelname != null" >
        hotelName = #{record.hotelname,jdbcType=VARCHAR},
      </if>
      <if test="record.visible != null" >
        visible = #{record.visible,jdbcType=CHAR},
      </if>
      <if test="record.online != null" >
        online = #{record.online,jdbcType=CHAR},
      </if>
      <if test="record.roomcount != null" >
        roomCount = #{record.roomcount,jdbcType=INTEGER},
      </if>
      <if test="record.freeroomcount != null" >
        freeRoomCount = #{record.freeroomcount,jdbcType=INTEGER},
      </if>
      <if test="record.year != null" >
        year = #{record.year,jdbcType=CHAR},
      </if>
      <if test="record.month != null" >
        month = #{record.month,jdbcType=CHAR},
      </if>
      <if test="record.day != null" >
        day = #{record.day,jdbcType=CHAR},
      </if>
      <if test="record.date != null" >
        date = #{record.date,jdbcType=CHAR},
      </if>
      <if test="record.createtime != null" >
        createTime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.other1 != null" >
        other1 = #{record.other1,jdbcType=INTEGER},
      </if>
      <if test="record.other2 != null" >
        other2 = #{record.other2,jdbcType=INTEGER},
      </if>
      <if test="record.other3 != null" >
        other3 = #{record.other3,jdbcType=VARCHAR},
      </if>
      <if test="record.other4 != null" >
        other4 = #{record.other4,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_room_census
    set id = #{record.id,jdbcType=BIGINT},
      hotelId = #{record.hotelid,jdbcType=BIGINT},
      hotelName = #{record.hotelname,jdbcType=VARCHAR},
      visible = #{record.visible,jdbcType=CHAR},
      online = #{record.online,jdbcType=CHAR},
      roomCount = #{record.roomcount,jdbcType=INTEGER},
      freeRoomCount = #{record.freeroomcount,jdbcType=INTEGER},
      year = #{record.year,jdbcType=CHAR},
      month = #{record.month,jdbcType=CHAR},
      day = #{record.day,jdbcType=CHAR},
      date = #{record.date,jdbcType=CHAR},
      createTime = #{record.createtime,jdbcType=TIMESTAMP},
      other1 = #{record.other1,jdbcType=INTEGER},
      other2 = #{record.other2,jdbcType=INTEGER},
      other3 = #{record.other3,jdbcType=VARCHAR},
      other4 = #{record.other4,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mk.ots.room.bean.RoomCensus" >
    update t_room_census
    <set >
      <if test="hotelid != null" >
        hotelId = #{hotelid,jdbcType=BIGINT},
      </if>
      <if test="hotelname != null" >
        hotelName = #{hotelname,jdbcType=VARCHAR},
      </if>
      <if test="visible != null" >
        visible = #{visible,jdbcType=CHAR},
      </if>
      <if test="online != null" >
        online = #{online,jdbcType=CHAR},
      </if>
      <if test="roomcount != null" >
        roomCount = #{roomcount,jdbcType=INTEGER},
      </if>
      <if test="freeroomcount != null" >
        freeRoomCount = #{freeroomcount,jdbcType=INTEGER},
      </if>
      <if test="year != null" >
        year = #{year,jdbcType=CHAR},
      </if>
      <if test="month != null" >
        month = #{month,jdbcType=CHAR},
      </if>
      <if test="day != null" >
        day = #{day,jdbcType=CHAR},
      </if>
      <if test="date != null" >
        date = #{date,jdbcType=CHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="other1 != null" >
        other1 = #{other1,jdbcType=INTEGER},
      </if>
      <if test="other2 != null" >
        other2 = #{other2,jdbcType=INTEGER},
      </if>
      <if test="other3 != null" >
        other3 = #{other3,jdbcType=VARCHAR},
      </if>
      <if test="other4 != null" >
        other4 = #{other4,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mk.ots.room.bean.RoomCensus" >
    update t_room_census
    set hotelId = #{hotelid,jdbcType=BIGINT},
      hotelName = #{hotelname,jdbcType=VARCHAR},
      visible = #{visible,jdbcType=CHAR},
      online = #{online,jdbcType=CHAR},
      roomCount = #{roomcount,jdbcType=INTEGER},
      freeRoomCount = #{freeroomcount,jdbcType=INTEGER},
      year = #{year,jdbcType=CHAR},
      month = #{month,jdbcType=CHAR},
      day = #{day,jdbcType=CHAR},
      date = #{date,jdbcType=CHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      other1 = #{other1,jdbcType=INTEGER},
      other2 = #{other2,jdbcType=INTEGER},
      other3 = #{other3,jdbcType=VARCHAR},
      other4 = #{other4,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="backUpRoomCensus" >
  	INSERT INTO t_room_census_backup (
	SELECT
		*
	FROM
		t_room_census
	WHERE
		createTime 
		<![CDATA[
			< 
		]]>
		date_sub(NOW(), INTERVAL 2 DAY)
	) 
  </insert>
  <delete id="deleteRoomCensus2DaysAgo" >
    DELETE
	FROM
		t_room_census
	WHERE
		createTime 
		<![CDATA[
			< 
		]]>
		date_sub(NOW(), INTERVAL 2 DAY)
  </delete>
</mapper>