<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.ots.mapper.TCityMapper" >
  <resultMap id="BaseResultMap" type="com.mk.ots.hotel.model.TCityModel" >
    <id column="cityid" property="cityid" jdbcType="BIGINT" />
    <result column="Code" property="code" jdbcType="VARCHAR" />
    <result column="CityName" property="cityname" jdbcType="VARCHAR" />
    <result column="ProID" property="proid" jdbcType="INTEGER" />
    <result column="CitySort" property="citysort" jdbcType="INTEGER" />
    <result column="latitude" property="latitude" jdbcType="DECIMAL" />
    <result column="longitude" property="longitude" jdbcType="DECIMAL" />
    <result column="simplename" property="simplename" jdbcType="VARCHAR" />
    <result column="ishotcity" property="ishotcity" jdbcType="VARCHAR" />
    <result column="range" property="range" jdbcType="DOUBLE" />
    <result column="isSelect" property="isselect" jdbcType="VARCHAR" />
    <result column="querycityname" property="querycityname" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    cityid, Code, CityName, ProID, CitySort, latitude, longitude, simplename, ishotcity, 
    `range`, isSelect, querycityname,level
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_city
    where cityid = #{cityid,jdbcType=BIGINT}
  </select>
  <select id="selectByCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_city
    where code = #{citycode,jdbcType=VARCHAR}
  </select>
</mapper>