<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.ots.mapper.TPriceMapper" >
  <resultMap id="BaseResultMap" type="com.mk.ots.hotel.model.TPrice" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="roomTypeId" property="roomtypeid" jdbcType="BIGINT" />
    <result column="timeId" property="timeid" jdbcType="BIGINT" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="subprice" property="subprice" jdbcType="DECIMAL" />
    <result column="subper" property="subper" jdbcType="DECIMAL" />
    <result column="orderindex" property="orderindex" jdbcType="INTEGER" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, roomTypeId, timeId, price, subprice, subper, orderindex, updateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_price
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="getPriceOfTime" resultMap="BaseResultMap" parameterType="java.lang.Long">
    select
    <include refid="Base_Column_List"></include>
      from t_price
        where timeid = #{timeid} limit 1
  </select>
</mapper>