<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.ots.member.model.UPromotionLog" >
  <resultMap id="BaseResultMap" type="com.mk.ots.member.model.UPromotionLog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="mid" property="mid" jdbcType="BIGINT" />
    <result column="activeid" property="activeid" jdbcType="BIGINT" />
    <result column="promoinstanceid" property="promoinstanceid" jdbcType="BIGINT" />
    <result column="promotionid" property="promotionid" jdbcType="BIGINT" />
    <result column="noticetype" property="noticetype" jdbcType="VARCHAR" />
    <result column="success" property="success" jdbcType="CHAR" />
    <result column="errormsg" property="errormsg" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, mid, activeid, promoinstanceid, promotionid, noticetype, success, errormsg, createtime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from u_promotion_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from u_promotion_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mk.ots.member.model.UPromotionLog" useGeneratedKeys="true" keyProperty="id">
    insert into u_promotion_log (id, mid, activeid, 
      promoinstanceid, promotionid, noticetype, 
      success, errormsg, createtime
      )
    values (#{id,jdbcType=BIGINT}, #{mid,jdbcType=BIGINT}, #{activeid,jdbcType=BIGINT}, 
      #{promoinstanceid,jdbcType=BIGINT}, #{promotionid,jdbcType=BIGINT}, #{noticetype,jdbcType=VARCHAR}, 
      #{success,jdbcType=CHAR}, #{errormsg,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mk.ots.member.model.UPromotionLog" useGeneratedKeys="true" keyProperty="id">
    insert into u_promotion_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mid != null" >
        mid,
      </if>
      <if test="activeid != null" >
        activeid,
      </if>
      <if test="promoinstanceid != null" >
        promoinstanceid,
      </if>
      <if test="promotionid != null" >
        promotionid,
      </if>
      <if test="noticetype != null" >
        noticetype,
      </if>
      <if test="success != null" >
        success,
      </if>
      <if test="errormsg != null" >
        errormsg,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="mid != null" >
        #{mid,jdbcType=BIGINT},
      </if>
      <if test="activeid != null" >
        #{activeid,jdbcType=BIGINT},
      </if>
      <if test="promoinstanceid != null" >
        #{promoinstanceid,jdbcType=BIGINT},
      </if>
      <if test="promotionid != null" >
        #{promotionid,jdbcType=BIGINT},
      </if>
      <if test="noticetype != null" >
        #{noticetype,jdbcType=VARCHAR},
      </if>
      <if test="success != null" >
        #{success,jdbcType=CHAR},
      </if>
      <if test="errormsg != null" >
        #{errormsg,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mk.ots.member.model.UPromotionLog" >
    update u_promotion_log
    <set >
      <if test="mid != null" >
        mid = #{mid,jdbcType=BIGINT},
      </if>
      <if test="activeid != null" >
        activeid = #{activeid,jdbcType=BIGINT},
      </if>
      <if test="promoinstanceid != null" >
        promoinstanceid = #{promoinstanceid,jdbcType=BIGINT},
      </if>
      <if test="promotionid != null" >
        promotionid = #{promotionid,jdbcType=BIGINT},
      </if>
      <if test="noticetype != null" >
        noticetype = #{noticetype,jdbcType=VARCHAR},
      </if>
      <if test="success != null" >
        success = #{success,jdbcType=CHAR},
      </if>
      <if test="errormsg != null" >
        errormsg = #{errormsg,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mk.ots.member.model.UPromotionLog" >
    update u_promotion_log
    set mid = #{mid,jdbcType=BIGINT},
      activeid = #{activeid,jdbcType=BIGINT},
      promoinstanceid = #{promoinstanceid,jdbcType=BIGINT},
      promotionid = #{promotionid,jdbcType=BIGINT},
      noticetype = #{noticetype,jdbcType=VARCHAR},
      success = #{success,jdbcType=CHAR},
      errormsg = #{errormsg,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>