<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mk.ots.system.model.UToken" >
  <resultMap id="BaseResultMap" type="com.mk.ots.system.model.UToken" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="mid" property="mid" jdbcType="BIGINT" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="accesstoken" property="accesstoken" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, mid, time, accesstoken, type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from u_token
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from u_token
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.mk.ots.system.model.UToken" useGeneratedKeys="true" keyProperty="id">
    insert into u_token (mid, time, 
      accesstoken, type)
    values (#{mid,jdbcType=BIGINT}, now(), 
      #{accesstoken,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.mk.ots.system.model.UToken" >
    insert into u_token
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mid != null" >
        mid,
      </if>
      <if test="time != null" >
        time,
      </if>
      <if test="accesstoken != null" >
        accesstoken,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="mid != null" >
        #{mid,jdbcType=BIGINT},
      </if>
      <if test="time != null" >
        #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="accesstoken != null" >
        #{accesstoken,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mk.ots.system.model.UToken" >
    update u_token
    <set >
      <if test="mid != null" >
        mid = #{mid,jdbcType=BIGINT},
      </if>
      <if test="time != null" >
        time = #{time,jdbcType=TIMESTAMP},
      </if>
      <if test="accesstoken != null" >
        accesstoken = #{accesstoken,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mk.ots.system.model.UToken" >
    update u_token
    set mid = #{mid,jdbcType=BIGINT},
      time = #{time,jdbcType=TIMESTAMP},
      accesstoken = #{accesstoken,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  
  <select id="findTokenByAccessToken" parameterType="String" resultMap="BaseResultMap">
		select * from u_token where accesstoken = #{accesstoken}
	</select>
	
	<select id="findTokenByMid"   resultMap="BaseResultMap">
		select * from u_token where mid = #{mid} 
		<if test="tokentype != null">
			and type = #{tokentype}
		</if>
	</select>
	
	<delete id="deleteByAccessToken">
		delete from u_token where accesstoken = #{accesstoken}
	</delete>
	
	<delete id="deleteByMid">
		delete from u_token where mid = #{mid}
	</delete>
</mapper>