/ots-web/.project
/ots-web/.settings
/ots-web/bin
/ots-web/target
/ots-web/.classpath
/ots-commons/*.project
/ots-commons/*.classpath
/ots-commons/*.gitignore
/ots-fun-biz/*.classpath
/ots-fun-biz/*.project
/ots-fun-face/*.classpath
/ots-fun-face/*.project
/ots-ord-biz/*.project
/ots-ord-biz/*.classpath
/ots-ord-face/*.classpath
/ots-ord-face/*.project
/ots-pay-biz/*.classpath
/ots-pay-biz/*.project
/ots-pay-face/*.classpath
/ots-pay-face/*.project
/ots-pro-biz/*.classpath
/ots-pro-biz/*.project
/ots-pro-face/*.classpath
/ots-pro-face/*.project
/*.project
/.settings
/ots-commons/.settings
/ots-fun-biz/.settings
/ots-fun-face/.settings
/ots-ord-biz/.settings
/ots-ord-face/.settings
/ots-pay-biz/.settings
/ots-pay-face/.settings
/ots-pro-biz/.settings
/ots-pro-face/.settings
/ots-entities/.settings
/ots-entities/.project
/ots-entities/.classpath
*.iml
target/
.idea
catalina.base_IS_UNDEFINED/
*.ipr
*.iws
.metadata/
.recommenders/
RemoteSystemsTempFiles/
ots-web/pom.xml.bak
ots-web/src/main/java/com/mk/ots/roomsale/service/impl/.gitignore
*.swp
*.swo
